In [1]:
import sys

sys.path.append('../')
import mustaching as ms


%load_ext autoreload
%autoreload 2

# Load transactions

In [2]:
# Invent some sample transactions.
transactions = ms.create_transactions('2017-01-01', '2017-12-31')

# Alternatively, upload your own transactions as say 'my_transactions.csv' 
#transactions = ms.read_transactions('my_transactions.csv')

transactions.head(10)

                 date  amount description       comment      category
0 2017-01-01 00:00:00     -66     0x433aa  0xe3e58bf983    healthcare
1 2017-01-01 12:00:00      63     0x75593  0x9e51acb3d9         reiki
2 2017-01-02 00:00:00     -47     0x8e9b9  0x3002a07255          food
3 2017-01-02 12:00:00     -17     0x4eed3  0xbe9db0d22d    healthcare
4 2017-01-03 00:00:00      -9     0x3ec4a  0x14ebd8577f  soil testing
5 2017-01-03 12:00:00      -3     0x18672  0x6bc34cfc0b     transport
6 2017-01-04 00:00:00      38     0x9912d  0x912a7cbdc6   programming
7 2017-01-04 12:00:00      34     0x88e8e  0x534b96f146         reiki
8 2017-01-05 00:00:00      56     0xee079  0x4c462d1be2         reiki
9 2017-01-05 12:00:00     -15     0x3e081  0x16a4b2e206  soil testing

# Summarize transactions and plot

In [3]:
# Summarize over entire period by category
s1 = ms.summarize(transactions, decimals=2, by_category=True)
s1

,date,category,income,expense,balance,savings_rate_for_period,spending_rate_for_period,income_frac_for_category_and_period,expense_frac_for_category_and_period,daily_avg,weekly_avg,monthly_avg,yearly_avg
0,2017-01-01,food,0,1404,11047,0.51,0.49,0.00,0.13,-3.85,-26.93,-117.00,-1404.0
1,2017-01-01,healthcare,0,1760,11047,0.51,0.49,0.00,0.17,-4.82,-33.75,-146.67,-1760.0
2,2017-01-01,investing,5378,0,11047,0.51,0.49,0.25,0.00,14.73,103.14,448.17,5378.0
3,2017-01-01,programming,10427,0,11047,0.51,0.49,0.49,0.00,28.57,199.97,868.92,10427.0
4,2017-01-01,reiki,5652,0,11047,0.51,0.49,0.26,0.00,15.48,108.39,471.00,5652.0
5,2017-01-01,shelter,0,3585,11047,0.51,0.49,0.00,0.34,-9.82,-68.75,-298.75,-3585.0
6,2017-01-01,soil testing,0,2219,11047,0.51,0.49,0.00,0.21,-6.08,-42.56,-184.92,-2219.0
7,2017-01-01,transport,0,1442,11047,0.51,0.49,0.00,0.14,-3.95,-27.65,-120.17,-1442.0

In [4]:
ms.plot(s1)

In [5]:
# Summarize by month start
s2 = ms.summarize(transactions, freq='MS', by_category=False, decimals=2)
s2

,date,income,expense,balance,savings_rate_for_period,spending_rate_for_period
0,2017-01-01,1894,869,1025,0.54,0.46
1,2017-02-01,1640,746,1919,0.55,0.45
2,2017-03-01,2106,673,3352,0.68,0.32
3,2017-04-01,1870,1225,3997,0.34,0.66
4,2017-05-01,1767,963,4801,0.46,0.54
5,2017-06-01,1571,874,5498,0.44,0.56
6,2017-07-01,1203,904,5797,0.25,0.75
7,2017-08-01,1847,1018,6626,0.45,0.55
8,2017-09-01,2147,555,8218,0.74,0.26
9,2017-10-01,1738,1038,8918,0.40,0.60
10,2017-11-01,1963,592,10289,0.70,0.30
11,2017-12-01,1711,953,11047,0.44,0.56

In [6]:
ms.plot(s2)

In [7]:
# Summarize by quarter start and by category
s3 = ms.summarize(transactions, freq='QS', by_category=True, decimals=2)
s3

,date,category,income,expense,balance,savings_rate_for_period,spending_rate_for_period,income_frac_for_category_and_period,expense_frac_for_category_and_period
0,2017-01-01,food,0,352,3352,0.59,0.41,0.00,0.15
1,2017-01-01,healthcare,0,425,3352,0.59,0.41,0.00,0.19
2,2017-01-01,investing,1120,0,3352,0.59,0.41,0.20,0.00
3,2017-01-01,programming,2641,0,3352,0.59,0.41,0.47,0.00
4,2017-01-01,reiki,1879,0,3352,0.59,0.41,0.33,0.00
5,2017-01-01,shelter,0,793,3352,0.59,0.41,0.00,0.35
6,2017-01-01,soil testing,0,399,3352,0.59,0.41,0.00,0.17
7,2017-01-01,transport,0,319,3352,0.59,0.41,0.00,0.14
8,2017-04-01,food,0,502,5498,0.41,0.59,0.00,0.16
9,2017-04-01,healthcare,0,412,5498,0.41,0.59,0.00,0.13
10,2017-04-01,investing,1554,0,5498,0.41,0.59,0.30,0.00
11,2017-04-01,programming,2470,0,5498,0.41,0.59,0.47,0.00
12,2017-04-01,reiki,1184,0,5498,0.41,0.59,0.23,0.00
13,2017-04-01,shelter,0,934,5498,0.41,0.59,0.00,0.31
14,2017-04-01,soil testing,0,812,5498,0.41,0.59,0.00,0.27
15,2017-04-01,transport,0,402,5498,0.41,0.59,0.00,0.13
16,2017-07-01,food,0,249,8218,0.52,0.48,0.00,0.10
17,2017-07-01,healthcare,0,433,8218,0.52,0.48,0.00,0.17
18,2017-07-01,investing,1578,0,8218,0.52,0.48,0.30,0.00
19,2017-07-01,programming,2315,0,8218,0.52,0.48,0.45,0.00
20,2017-07-01,reiki,1304,0,8218,0.52,0.48,0.25,0.00
21,2017-07-01,shelter,0,884,8218,0.52,0.48,0.00,0.36
22,2017-07-01,soil testing,0,561,8218,0.52,0.48,0.00,0.23
23,2017-07-01,transport,0,350,8218,0.52,0.48,0.00,0.14
24,2017-10-01,food,0,301,11047,0.52,0.48,0.00,0.12
25,2017-10-01,healthcare,0,490,11047,0.52,0.48,0.00,0.19
26,2017-10-01,investing,1126,0,11047,0.52,0.48,0.21,0.00
27,2017-10-01,programming,3001,0,11047,0.52,0.48,0.55,0.00
28,2017-10-01,reiki,1285,0,11047,0.52,0.48,0.24,0.00
29,2017-10-01,shelter,0,974,11047,0.52,0.48,0.00,0.38
30,2017-10-01,soil testing,0,447,11047,0.52,0.48,0.00,0.17
31,2017-10-01,transport,0,371,11047,0.52,0.48,0.00,0.14

In [8]:
ms.plot(s3)